header { 
    background-color: grey;
    height: 50pt;

}
li {
    float: left;
    margin: 20px;
    display: block;
    width: 40pt;
    height: 30;
}
a {
    color: #FAEBD7;
}
a:hover {
    color: #E9967A;
}
body {
    background-color: #4169E1;
}
h1 {
    display: block;
    font-size: 60px;
    color: black;
    -webkit-text-stroke-color:antiquewhite;
    -webkit-text-stroke-width: 1px;
    text-align: center;
}
h2 {
    float: left;
    width: 600px;
    /* text-align: center; */
    padding-left: 120px;
}
img {
    width: 350px;
    height: 450px;
    float: right;
    padding-right: 120px;
}